* {
  box-sizing: border-box;
}

body {
  background: #f5deb3; /* changed to a lighter wheat color */
}




/* Additional styles for specific elements */
.home-content h1 {
  font-weight: 500;
  color: wheat;
  font-size: 5em; /* adjusted font size for better readability */
  font-style: italic;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-shadow: 0 0 5px #11bcbc;
  z-index: 3;
}

.home-content p {
  font-weight: 700;
  font-size: 1.5em; /* adjusted font size for better readability */
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  z-index: 3;
}

@media (max-width: 768px) {
  .home-content h1 {
    font-size: 3rem; /* adjusted font size for smaller screens */
  }
}
